{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" ng-app='pollsApp'>
<head>
	<title></title>
	<script type="text/javascript" src="{% static 'js/angular-1.5.5.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/angularRoute-1.5.5.js' %}"></script>
	<script type="text/javascript" src="{% static 'polls/app.js' %}"></script>
	<script type="text/javascript" src="{% static 'polls/controllers.js' %}"></script>
</head>
<body>
	<h2>Welcome</h2>
	{{scope.polls}}
	<div ng-view>
		
	</div>
</body>
</html>